.root {
    display: flex;
    flex-grow: 1;
    min-height: 100vh;
    position: relative;
    overflow: hidden;
}

.content {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
    z-index: 2;
}

.main {
    max-width: 1200px;
    width: 100%;
    align-self: center;
    padding: 0 24px;
    margin: 0 auto;
    position: relative;
}

@media (max-width: 768px) {
    .main {
        padding: 0 16px;
    }
}
