# Dependencies
node_modules/

  # Logs
*.log

  # Environment variables
.env*

  # Git directory
.git/

  # Backend node modules
/backend/node_modules

  # Development files
*.md
README.md
LICENSE

  # Позволяем использовать frontend/dist
!frontend/dist/






