APP_PORT=3010
REMNAWAVE_PANEL_URL=https://panel.netclay.ru
REMNAWAVE_API_TOKEN=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1dWlkIjoiNzA4MTlhYzAtODU1Mi00MTdhLWI0ZjYtNDEyMDE0Njc3Yjc4IiwidXNlcm5hbWUiOm51bGwsInJvbGUiOiJBUEkiLCJpYXQiOjE3NjczMzIzMjIsImV4cCI6MTA0MDcyNDU5MjJ9.O1UD_0GhX9_UlsWLZ90BS-QZyUDsf4e2kFAX1mZZ_qk
CADDY_AUTH_API_TOKEN=oKZkB6RbIlmSUcuvrc3Ect4fBI4c30XFd8d1FeiTQAnXb5T49t6IyC81xAh1HgS7PCCnyX2o